@media screen and (max-width: 450px) {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    /* body {
      overflow: hidden;
    } */
    .container {
        padding: 0 20px;
        width: 100%;
        text-align: center;
        margin: 0;
    }
    /* --------navbar linkes ------*/
    .navbar {
        height: 70px;
        width: 100vw;
        /* top: 0;
      position: fixed;
      z-index: 1; */
    }
    .navbar>.container {
        height: 70px;
        margin: 0 auto;
        position: fixed;
        z-index: 1;
        background-color: #2f5b72;
    }
    .navbar .container span {
        display: inline;
    }
    .navbar .container span::before {
        font-family: "Linearicons";
        content: "\e92b";
        display: inline-block;
        position: absolute;
        font-size: 30px;
        color: #fff;
        right: 0;
        top: 17px;
        margin-right: 20px;
    }
    .navbar .container .links {
        display: none;
    }
    .header-main .container {
        display: block;
        padding: 30px 20px 60px 20px;
    }
    .header-main .title {
        align-items: center;
        text-align: center;
    }
    .header-main .title h1 {
        font-size: 25px;
    }
    .header-main .title h3 {
        font-size: 18px;
    }
    .title button {
        width: 188px;
        height: 53px;
        padding: 0;
    }
    .weather-animation {
        margin-top: 50px;
        width: auto;
    }
    .day span:nth-child(2) {
        left: 5px;
    }
    /* <!------------------ main  -----------> */
    .main .customers {
        overflow: auto;
    }
    .main .customers .container {
        width: 1170px;
    }
    .customers .container .happy-customer:first-child {
        display: none;
    }
    /*--------------- customers_features ---------------*/
    .customers_features .container {
        flex-direction: column;
        margin: 0 20px;
    }
    .customers_features .container div {
        margin: 20px;
        padding: 17px;
    }
    .customers_features .container .realtime {
        margin-left: 20px;
    }
    .customers_features .container .start {
        margin-right: 20px;
    }
    /* ---------------customers_container------------------ */
    .customers_container .container {
        flex-direction: column;
        align-items: center;
        margin: 40px 0;
    }
    .customers_container .weather_data {
        width: 100%;
        text-align: center;
    }
    .customers_container .map {
        width: 100%;
    }
    /* ---------------expample-------------- */
    .example h4 {
        margin: 15px;
    }
    .example h5 {
        font-size: 20px;
        padding: 0 20px;
    }
    .example .weather {
        flex-direction: column;
    }
    .weather a {
        border-radius: 15px;
    }
    .weather :first-child {
        border-radius: 15px 15px 0 0;
    }
    .weather :nth-child(2) {
        border-radius: 0;
    }
    .weather :last-child {
        border-radius: 0 0 15px 15px;
    }
    .example .features .container {
        flex-direction: column;
    }
    .features .container div {
        margin: 0 0 15px 0;
    }
    /* grid */
    .grid .pics {
        flex-direction: column;
    }
    .pics .item {
        margin-right: 0;
        margin-bottom: 15px;
    }
    /* -----adv------- */
    .adv span {
        display: none;
    }
    /* ---------footer----------- */
    .icon_list {
        flex-direction: column-reverse;
        align-items: center;
    }
    .icon_list .lists {
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: 0;
    }
    .icon_list .lists ul {
        margin: 0 10px 20px 10px;
    }
    .icons .logos {
        margin: 20px 0px 0 0;
    }
    #menu .mobile-links {
        background-color: white;
        height: 0vh;
        width: 100vw;
        position: fixed;
        top: 70px;
        left: 0;
        z-index: 1;
        display: none;
        /* transition: height 0.3s; */
    }
    #menu:hover .mobile-links {
        display: block;
        height: 100vh;
        /* background-color: red; */
    }
    .mobile-links div {
        height: 70px;
        text-align: left;
    }
    .mobile-links div a {
        color: black;
        line-height: 70px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 13px 5px 23px 15px;
        margin-left: 15px;
        font-size: 16px;
        font-weight: 600;
    }
    .mobile-links div a::after {
        font-family: "Linearicons";
        content: "\e93c";
        display: inline-block;
        position: relative;
        top: 2px;
        left: 10px;
    }
    .mobile-links .signupButton {
        margin: 20px 0 0 15px;
    }
}